<!-- <nav class="hola">
    <div class="container">
        <div class="imga">
            <img src="app/img/header-logo.png" alt="" />
        </div>
        <div class="inputs">
            <input type="input" name="emaill" placeholder="Email address" size="40">
            <input type="input" name="password" placeholder="Password" size="40">
            <button type="button" name="button">Sign in</button>
        </div>
        <br>
    </div>
    <div class="checky">
        <input type="checkbox" name="vehicle" value="Bike"> Remember me<br>
        <a href="#">Forgot it</a>
    </div>
    <div class="new">
        <h2>New here? Create a free account</h2>
        <br>
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="name" placeholder="Email Address">
        <input type="text" name="name" placeholder="Password">
    </div>
</nav> -->
<div class="container">
    <div class="container-2">
        <nav id="nav-bar">
            <div id="img-header">
                <img src="app/img/header-logo.png" alt="" />
            </div>
            <div class="login">
                <input class="inpuh" type="input" name="emaill" placeholder="Email address" size="40">
                <input class="inpuh" type="input" name="password" placeholder="Password" size="40">
                <button type="button" name="button">Sign in</button>
                <div class="check">
                    <input type="checkbox" name="vehicle" value="Bike" size="10" id="holis">
                    <label for="holis">Remember me</label>
                    <a href="#">Forgot it?</a>
                </div>
            </div>
        </nav>
        <div class="imagen">
            <img src="https://s.gr-assets.com/assets/home/headline-e2cd420e71737ff2815d09af5b65c4e4.png" />
            <div class="new">
                <h2>New here? Create a free account</h2>
                <input type="text" name="name" placeholder="Name">
                <input type="text" name="name" placeholder="Email Address">
                <input type="text" name="name" placeholder="Password">
                <div class="redes">
                    <button type="button" name="button">Sign up</button>
                    <p>
                        By clicking “Sign up” I agree to the Goodreads <a href="#">Terms of Service</a> and confirm that I am at least 13 years old.
                    </p>
                </div>
                <div class="redes-2">
                    <span class="redesitas">
                        or in using
                    </span>
                    <ul>
                        <li>
                            <a href="">
                                <img src="https://s.gr-assets.com/assets/home/homepage_signin_facebook-99e862a1d6c0b1f359c0332006e16e10.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://s.gr-assets.com/assets/home/homepage_signin_twitter-9922ba9506d10862d03a558f4424c026.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://s.gr-assets.com/assets/home/homepage_signin_google-4b119f254f4e8224b9a35ecb5f4fac55.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="https://s.gr-assets.com/assets/home/homepage_signin_amazon-c6b72b6cb35e3c975a179cebad1e7ace.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
