<nav class="hola">
    <div class="container">
        <div class="imga">
            <img src="app/img/header-logo.png" alt="" />
        </div>
        <div class="inputs">
            <input type="input" name="emaill" placeholder="Email address" size="40">
            <input type="input" name="password" placeholder="Password" size="40">
            <button type="button" name="button">Sign in</button>
        </div>
        <br>
    </div>
    <div class="new">
        <h2>New here? Create a free account</h2>
    </div>
    <div class="checky">
        <input type="checkbox" name="vehicle" value="Bike"> Remember me<br>
        <a href="#">Forgot it</a>
    </div>
    <div class="img-central">
        <img src="https://s.gr-assets.com/assets/home/headline-e2cd420e71737ff2815d09af5b65c4e4.png" />
    </div>
</nav>
